.cal {
  border: 1px solid #444444;
  width: 500px;
  text-align: center;
  height: 300px;
}

table {
  /* float: left; */
  justify-content: space-between;
  border-top: 1px solid #444444;
  border-collapse: collapse;
}

.read_table {
  border: 1px solid #444444;
  margin-top: 60px;
}

.read_title {
  height: 45px;
  font-size: 23.5px;
  text-align: center;
  background-color: #3c3c3c;
  color: white;
  width: 500px;
}

.read_id {
  text-align: center;
  background-color: #eeeeee;
  /* width: 30px; */
  height: 33px;
}

.read_id2 {
  text-align: center;
  background-color: white;
  /* width: 60px; */
  height: 33px;
  /* padding-left: 10px; */
}

.read_content {
  padding: 20px;
  border-top: 1px solid #444444;
  height: 300px;
}
