<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fail</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-size: 1.5em;
        }
        a {
            margin-top: 20px;
            color: blue;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <p>회원 가입에 실패했습니다.</p>
    <p>이미 등록된 username 또는 password입니다.</p>
    <a href=/>메인 페이지로 이동</a>
</body>
</html>